body {
    background-color: aquamarine;
}
h3 {
    position: relative;
    text-align: center;
    position: static;
    color: crimson;
    font-family: Lobster, monospace;
    margin: 0;
    font-size: 1.5vw;
}
.hfour {
    position: absolute;
    left: 45%;
    right: 45%;
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p {
    position: relative;
    font-size: 1.7vw;
    color: navy;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.ad {
    position: relative;
    text-align: left;
    width: 100%;
}
.ad2 {
    position: relative;
    text-align: right;
    width: 100%;
}
.paypal {
    position: relative;
    text-align: left;
}
.paypal img {
    width: 30%;
}
.yt {
    position: relative;
    text-align: right;
    top: 8px;
}
.yt img{
    width: 30%;
}
.vid {
    text-align: center;
}
.vid video {
    width: 50%;
}
.pic {
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 0;
}